/* //CREATE MODAL// */

#root {
  height: 100vh;
}

.home-posts {
  margin-block-start: 0;
  margin-block-end: 0;
}

.modal-container {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-style: solid;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  top: 0;
  left: 0;
}

.container {
  border: white solid;
  background-color: white;
  border-radius: 1rem;
  width: 22rem;
  height: 38rem;
}

.create-row1 {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.price-date-time-container {
  display: block;
}

.price-date-container {
  justify-content: space-evenly;
  margin: 0.5rem 0;
}

.time-container {
  justify-content: space-evenly;
}

.invisible {
  visibility: hidden;
}

.create-buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 1.2rem;
  gap: 1rem;
}

.justify-content-center {
  justify-content: center;
}

.flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.space-evenly {
  justify-content: space-evenly;
}

.start-end-label {
  margin-bottom: 0.3rem;
}

.align-items {
  align-items: center;
}

.hidden {
  display: none;
}

/* //HOME// */

.home-page {
  height: 100%;
}

.home-container {
  width: 100vw;
  height: max-content;
}

.symbol-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.navigation-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation {
  gap: 2.3rem;
}

.logo-mobile {
  padding-left: 1rem;
}

.profile-icon-container {
  padding-right: 1rem;
}

.page-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 1.2rem;
}

.logo-desktop {
  display: none;
}

.navigation-desktop {
  display: none;
}

.post-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

.post-second-container {
  margin: 0 1rem;
}

table {
  border: 2px solid rgb(200, 200, 200);
  border-collapse: collapse;
}

th {
  border: 2px solid rgb(190, 190, 190);
}

td {
  border: 2px solid rgb(190, 190, 190);
}

.post-creator-creation {
  margin-block-start: 0;
  margin-block-end: 0;
}

.column {
  flex-direction: column;
}

.profile-user-date {
  gap: 0.6rem;
}

.post-table {
  margin: 2rem 0;
}

.table-width {
  width: 100%;
}

ul {
  padding-inline-start: 0;
  margin: 0 1.2rem;
}

.table-mobile-inactive {
  display: none;
}

.align-items-center {
  align-items: center;
}

.table-padding {
  padding: 0.6rem;
}

.table-mobile-active {
  padding: 0.6rem;
}

.post-entry {
  margin: 2rem 0 3rem;
}

.flex-start {
  justify-content: flex-start;
}

.username-date {
  gap: 0.5rem;
}

.post-comments {
  margin-bottom: 1.5rem;
  font-size: 1.2rem;
}

@media screen and (min-width: 768px) {
  .header {
    margin: 1rem 0;
  }

  .price-date-time {
    display: flex;
  }

  .container {
    width: 47rem;
    height: 33rem;
  }

  .price-date-container {
    margin-top: 0;
  }

  .price-date-time-container {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .price-date-gap {
    gap: 5rem;
  }

  .label-gap {
    gap: 2rem;
  }

  form {
    margin: 0 2rem;
  }

  .start-end-label {
    margin-right: 0.7rem;
    margin-bottom: 0;
  }

  .table {
    display: revert;
  }

  /* //HOME// */
  .logo-mobile {
    display: none;
  }

  .logo-desktop {
    display: inline;
    padding-left: 2rem;
  }

  .navigation {
    gap: 4rem;
  }

  .profile-icon-container {
    padding-right: 3rem;
  }

  .home-page {
    width: 84%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    margin: auto;
  }

  .home-container {
    background-color: #f0f0f0;
  }

  .page-title {
    justify-content: space-between;
  }

  .navigation-container {
    justify-content: space-between;
  }

  .full-symbol-container {
    gap: 4rem;
  }

  .navigation-desktop {
    display: flex;
    gap: 4.5rem;
    align-items: center;
  }

  .navigation-mobile {
    display: none;
  }

  .post-container {
    margin: 3rem 0;
  }

  .home-margin {
    margin: 0 13%;
  }

  .table-width {
    display: revert;
  }

  .table-row1 {
    display: revert;
  }

  .table-row2 {
    display: revert;
  }

  .post-body {
    margin: 0 1.4rem;
  }

  td {
    padding: 1rem;
  }

  .table-mobile-inactive {
    display: revert;
  }

  .table-mobile-active {
    display: none;
  }

  th {
    padding: 0.4rem 1rem;
  }

  .post-entry {
    margin: 2.3rem 0;
  }
}
