.website-title {
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 7vw;
  text-transform: uppercase;
}

.website-title:active {
  color: #bbbaba;
}

/* //CREATE MODAL// */

.start-label-box {
  display: flex;
  flex-direction: column;
}

form {
  margin: 0 5vw;
}

.label-title {
  font-family: Roboto, sans-serif;
  font-size: 2.5vh;
}

.label-margin {
  margin-top: 1.5vh;
  margin-bottom: 1.5vh;
}

/* .create-buttons button {
  padding: 0;
} */

.input-box-border {
  border: thin solid #000;
  border-radius: 0.2rem;
  padding-left: 1.5vh;
  background-color: white;
}

.post-padding-top {
  padding-top: 1vh;
}

h1 {
  font-weight: 300;
}

.header {
  font-family: Montserrat, sans-serif;
  margin-block-start: 1.5vh;
  margin-block-end: 1vh;
  font-size: 3.5vh;
}

.create-header {
  border-bottom: rgb(192, 192, 192) solid 2px;
  padding-left: 5vw;
}

.cancel {
  border-style: none;
  color: red;
  background-color: white;
  font-size: 2.5vh;
  cursor: pointer;
}

.bookmark-active {
  color: #2026ae;
  transition: 0.15s;
  margin-right: 0.4rem;
}

.bookmark-inactive {
  opacity: 30%;
  transition: 0.15s;
  margin-right: 0.4rem;
}

.post {
  color: white;
  background-color: rgb(177, 175, 175);
  border-style: none;
  font-size: 1.5rem;
  padding: 0.4rem 1.2rem;
  border-radius: 0.3rem;
  cursor: pointer;
}

.cancel:hover {
  text-decoration: underline;
}

.post-textbox {
  height: 19vh;
  resize: none;
  font-size: 2vh;
}

.price-box {
  width: 35vw;
  max-width: 11rem;
  height: 4.5vh;
  font-size: 1.9vh;
}

.date-box {
  width: 35vw;
  max-width: 11rem;
  height: 4.5vh;
  font-size: 1.6vh;
}

.start-end-time-box {
  width: 35vw;
  max-width: 11rem;
  height: 4.5vh;
  font-size: 1.9vh;
}

.location-box {
  width: 100%;
  height: 4.5vh;
  font-size: 1.9vh;
}

.time-margin {
  margin-bottom: 0;
}

.price-date-gap {
  gap: 2rem;
}

.time-container {
  gap: 2rem;
  margin-bottom: 4vh;
}

.location-container {
  margin-bottom: 3vh;
}

.start-end-label {
  font-family: Roboto, sans-serif;
  margin-top: 1vh;
  font-size: 1.8vh;
  margin-bottom: 1vh;
}

.post-button-active {
  background-color: #2559dc;
}

.post-button-active:active {
  background-color: rgb(6, 40, 124);
}

.no-post {
  color: white;
  background-color: rgb(177, 175, 175);
  border-style: none;
  font-size: 3vh;
  padding: 0.4rem 1.2rem;
  border-radius: 0.3rem;
  pointer-events: none;
}

/* //HOME// */

.navigation-container {
  color: white;
  background-color: #000572;
}

.navigation-symbol {
  font-size: 5vw;
  cursor: pointer;
}

.navigation-symbol p {
  font-size: 0.9rem;
}

.profile {
  font-size: 1.8rem;
  border: solid 2.5px;
  padding: 0.6rem;
  border-radius: 2rem;
  background-color: white;
  color: gray;
  width: 3.5rem;
  text-align: center;
  cursor: pointer;
}

.add-post-button {
  border: solid 2.5px;
  border-radius: 2rem;
  padding: 0.4rem;
  font-size: 2rem;
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fafafa;
  color: #979797;
  transition: 0.2s;
  cursor: pointer;
}

.add-post-button-modal {
  transform: scale(1.2) rotate(180deg);
  color: black;
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0 inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  background-color: #fafafa;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 2.5px;
  border-radius: 2rem;
  padding: 0.4rem;
  font-size: 3rem;
  width: 4rem;
  height: 4rem;
}

.add-post-container {
  display: flex;
  margin-top: 2rem;
  justify-content: center;
}

.page-title {
  width: 46rem;
}

.background-white {
  background-color: white;
}

.post-container {
  border: 0.3px solid rgb(0, 0, 0, 0.3);
  border-radius: 1rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0 2px 8px 0;
  background-color: white;
}

.logo-desktop {
  font-size: 1.4rem;
  cursor: pointer;
}

.symbol-container {
  font-size: 4vw;
  cursor: pointer;
}

.symbol-container:active {
  color: #bbbaba;
}

.symbol-container p {
  margin-block-start: 0;
  margin-block-end: 0;
}

.symbol-container p:hover {
  text-decoration: underline;
}

.navigation-container a {
  color: #dae0e6;
}

.navigation-container a:hover {
  color: white;
}

.navigation-container a:active {
  color: #bbbaba;
}

.home-page {
  background-color: #dae0e6;
}

.add-post-button:hover {
  transform: scale(1.2) rotate(180deg);
  color: black;
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0 inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

.add-post-button:active {
  background-color: #f0f0f0;
}

.post-header {
  border-bottom: rgb(192, 192, 192) solid 2px;
}

.user {
  transform: scale(1);
}

.roboto-font {
  font-family: Roboto, sans-serif;
}

.post-creator-creation {
  font-size: 1.2rem;
}

.username {
  font-weight: 600;
  padding-top: 0.2rem;
}

.date {
  font-size: 0.9rem;
  opacity: 50%;
}

.low-opacity {
  opacity: 20%;
}

.table-row1 {
  font-size: 1rem;
}

ul {
  list-style-type: none;
}

#no-font-weight {
  font-weight: 0;
}

.hidden {
  display: none;
}

.profile-icon-container {
  transform: scale(0.7);
}

.options-button {
  border-radius: 0.5rem;
  transform: scale(2.9) rotate(90deg);
  margin-right: 1rem;
  cursor: pointer;
  padding: 0.2rem;
  transition: 0.3s ease;
}

.options-button:active {
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0 inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  background-color: white;
}

.options-button:hover {
  background-color: #f0f0f0;
  transition: 0.1s;
}

.comment-button {
  color: black;
}

.comment-button:hover {
  text-decoration: underline;
}

.navigation-color {
  background-color: #000572;
  box-shadow: rgba(14, 30, 37, 0.12) 0 2px 4px 0, rgba(14, 30, 37, 0.32) 0 2px 16px 0;
}

.dropdown-content button:active {
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0 inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  background-color: white;
}

.dropdown-content {
  background-color: #f1f1f1;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  border: rgba(0, 0, 0) solid 1.7px;
  border-radius: 0.6rem;
}

.dropdown-option {
  background-color: white;
  border: none;
  font-size: 1.1rem;
  transition: 0.1s;
  cursor: pointer;
}

#home-option {
  border: solid;
  margin-top: 0.5rem;
  background-color: #fafafa;
  border-radius: 2rem;
  padding: 0.6rem 1.3rem;
  font-size: 1.5rem;
  color: #979797;
  transition: 0.2s;
}

#home-option:hover {
  transform: scale(1.2);
  color: black;
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
}

#home-option:active {
  background-color: #f0f0f0;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0 inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

.delete-color {
  color: red;
}

.dropdown-option:hover {
  background-color: #f0f0f0;
}

.border-bottom {
  border-bottom: rgba(0, 0, 0) solid 1.7px;
}

.transparent-border-top {
  border-top: rgb(192, 192, 192) solid 2px;
}

.location-button {
  color: blue;
  cursor: pointer;
}

.location-button:hover {
  text-decoration: underline;
}

/* DELETE MODAL */
.delete-modal {
  width: 24rem;
  height: 16rem;
}

.delete-modal-buttons {
  gap: 6rem;
}

.delete-button-active {
  background-color: rgb(199, 5, 5);
}

.delete-button-active:hover {
  background-color: rgb(255, 0, 0);
}

.delete-button-active:active {
  box-shadow: rgba(50, 50, 93, 0.25) 0 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0 18px 36px -18px inset;
}

.cancel-button:hover {
  background-color: rgb(194, 193, 193);
}

.cancel-button:active {
  box-shadow: rgba(50, 50, 93, 0.25) 0 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0 18px 36px -18px inset;
}

.text-align-center {
  text-align: center;
}

.delete-modal-body {
  width: 21rem;
  font-size: 0.9rem;
}

.justify-content-center {
  justify-content: center;
}

.empty-page {
  color: red;
  font-size: 1.3rem;
}

textarea,
.start-end-label,
.input-box-border {
  font-family: Raleway, sans-serif;
}

.home-button {
  gap: 0;
  padding-bottom: 0.5rem;
  font-size: 4vw;
  color: #e4e6eb;
}

.home-button svg {
  transform: scale(0.8);
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 8rem;
  height: 8rem;
  animation: spin 2s linear infinite;
}

.no-border-bottom {
  border-bottom: revert;
}

.no-margin {
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

.font-size-one-rem {
  font-size: 1rem;
}

.no-bottom-padding {
  padding-bottom: 0;
}

.comments-padding-bottom {
  padding-bottom: 3rem;
}

.comment-header {
  font-size: 2rem;
  font-family: Roboto, sans-serif;
  margin-block-start: 0;
  margin-block-end: 0;
  margin: 0.5rem 0;
}

.add-comment-button {
  border: rgb(192, 192, 192) solid 2px;
  display: flex;
  width: 100vw;
  background-color: white;
  cursor: text;
  border-radius: 0.8rem;
  font-size: 1rem;
  padding: 0.5rem 0.9rem;
  color: rgb(107, 107, 107);
}

.add-comment-button:hover {
  color: black;
  border: black solid 2px;
}

.comment-button-spacing {
  padding-bottom: 2rem;
  padding-top: 0.5rem;
}

.background {
  background-color: #dae0e6;
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.full-width-height {
  height: 100vh;
}

.width-full-percent {
  width: 100%;
}

.post-width .empty-page {
  margin-top: 3rem;
}

@media screen and (min-width: 328px) {
  .home-button {
    font-size: 1rem;
  }

  .website-title {
    font-size: revert;
  }

  .symbol-container {
    font-size: 1rem;
  }

  .profile-icon-container {
    transform: scale(1);
  }

  .navigation-symbol {
    font-size: 1.7rem;
  }
}

@media screen and (min-width: 974px) {
  form {
    margin: 0 3rem;
  }

  .header {
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    font-size: 1.8rem;
  }

  .label-title {
    font-family: Roboto, sans-serif;
    font-size: 1.2rem;
  }

  .create-header {
    border-bottom: rgb(192, 192, 192) solid 2px;
    padding-left: 3rem;
  }

  .label-margin {
    margin-top: 1.3rem;
    margin-bottom: 0.5rem;
  }

  .start-label-box {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .home-button {
    font-size: 1rem;
  }

  .symbol-container {
    font-size: 1rem;
  }

  .navigation-symbol {
    font-size: 1.7rem;
  }

  .checkbox {
    width: 1rem;
    height: 1rem;
  }

  .location-box {
    width: 50%;
    height: 2.3rem;
    font-size: 0.9rem;
  }

  .post-textbox {
    font-size: 1rem;
    height: 8rem;
  }

  .price-box {
    width: 9rem;
    height: 2.3rem;
    font-size: 0.9rem;
  }

  .date-box {
    width: 9rem;
    height: 2.3rem;
    font-size: 0.9rem;
  }

  #home-option {
    padding: 0.6rem 1.3rem;
    font-size: 1.5rem;
  }

  .create-buttons {
    margin-top: 1rem;
  }

  .start-end-time-box {
    width: 7rem;
    height: 2.3rem;
    font-size: 0.9rem;
  }

  .time-margin {
    margin-bottom: 0.5rem;
  }

  .location-container {
    margin-bottom: 0;
  }

  .time-container {
    margin: 0.5rem 0;
    justify-content: center;
    gap: 0.8rem;
  }

  .start-end-label {
    font-size: 0.8rem;
    margin-bottom: 0.3rem;
    margin-top: 0;
  }

  .cancel {
    font-size: 1.3rem;
  }

  .no-post {
    padding: 0.6rem 1.3rem;
    font-size: 1.5rem;
  }

  /* //HOME// */
  .home-page {
    background-color: revert;
  }

  .home-page-container {
    background-color: #dae0e6;
  }

  .profile {
    transform: scale(1);
  }

  .add-post-button {
    font-size: 3rem;
    width: 4rem;
    height: 4rem;
  }

  .user {
    transform: scale(1);
  }

  th {
    font-size: 1;
  }

  .dropdown-option {
    font-size: 1.2rem;
  }

  /* DELETE MODAL */
  .delete-modal-body {
    width: 36rem;
    font-size: 0.9rem;
  }

  .delete-modal {
    width: 41rem;
    height: 15rem;
  }

  .empty-page {
    font-size: 1.6rem;
  }
}
